body {
  box-sizing: border-box;
  margin: 0px;
  font-family: "Space Grotesk", sans-serif;
  /* background-image: url(/static/img/ttten.svg); */
}

*, *::after, *::before {
  box-sizing: border-box;
}

h1 {
  margin: 0px;
  padding: 0px;
}

header {
  width: 100%;
  height: 76px;
  background-color: rgba(249, 126, 39, 0.684);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 70px;
}

header img {
  width: 151px;
  height: 40px;
  margin-right: 32px;
  /* margin: 18px auto; */
}

.menu__wrapper {
  display: flex;
}

.menu__wrapper a {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
  display: flex;
  margin-right: 32px;
  white-space: nowrap;
  opacity: 0.5;
}

/* section__searchAnimals */

.section__searchAnimals {
  display: flex;
  flex-flow: column;
  position: relative;
}

.section__searchAnimals h1 {
  text-align: center;
  font-weight: 700;
  font-size: 80px;
  line-height: 96px;
  color: #000000;
  text-shadow: -5px 5px 0px rgba(249, 126, 39);
  padding-top: 117px;
  margin: 0 auto;
}

form {
  background-color: #ff8821;
}

.section__searchAnimals p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #c66401;
  padding-top: 32px;
  margin-bottom: 32px;
}

/* search start */

.section__searchAnimals .search-box {
  display: flex;
  align-items: center;
  border: 3px solid black;
  border-radius: 10px;
  padding: 5px;
  margin: 0 auto;
  width: 850px;
  height: 70px;
}

.section__searchAnimals .icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.section__searchAnimals .search {
  font-size: 16px;
  outline: none;
  border: none;
  background-color: #ff8821;
  flex: 1;
} 

/* search end */
*{
 margin: 0;
 padding: 0;
}

/* BG start */


section{
  position: relative;
  width: 100%;
  height: 90vh;
  background: #ff8821;
  overflow: hidden;
}
section .air{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(https://1.bp.blogspot.com/-xQUc-TovqDk/XdxogmMqIRI/AAAAAAAACvI/AizpnE509UMGBcTiLJ58BC6iViPYGYQfQCLcBGAsYHQ/s1600/wave.png);
  background-size: 1000px 100px
}
section .air.air1{
  animation: wave 30s linear infinite;
  z-index: 1000;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0px;
}
section .air.air2{
  animation: wave2 15s linear infinite;
  z-index: 999;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}
section .air.air3{
  animation: wave 30s linear infinite;
  z-index: 998;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15px;
}

section .air.air4{
  animation: wave2 5s linear infinite;
  z-index: 997;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 20px;
}

@keyframes wave{
  0%{
    background-position-x: 0px; 
  }
  100%{
    background-position-x: 1000px; 
  }
}
@keyframes wave2{
  0%{
    background-position-x: 0px; 
  }
  100%{
    background-position-x: -1000px; 
  }
}
.info_result{
    border: solid 5px;
    border-radius: 10px;
    justify-content:center;
    align-items:center;
    width: 750px;
    padding: 10px;
}
.container{
    justify-content:center;
    align-items:center;
    display:flex;
    flex-direction: column;
}


/* BG end */


/* result page start */

.result {

}

/* result page end */