{% extends 'template.html' %}

{% block title %}
Cтраница про нас
{% endblock %}


{% block body %}
<div class="contacts">
  <form>
    <div class="names">
      <h1>Полиненко Ярослав</h1>
      <img src="static/img/user_icon.svg">
    </div>
    <h2><img src="static/img/calendar.svg" alt="стрелка" 
      style="vertical-align: middle" width="20px" height="20px">Project "ZooInfo" 21.10 - 01.11 </h2>
    <div class="results_of_work">
      <p>• Сделал тг-бота (telebot).</p><br>
      <p>• Сделал сайт (html, css, python flask).</p><br>
      <p>• Сделал парсер к сайту (wikipedia).</p><br>
      <p>• Написал 1/2 README.md.</p>
    </div>
    <div class="support">
      <a href="https://t.me/yaadtiahh"><img src="static/img/send_icon.svg" alt="стрелка" 
        style="vertical-align: middle" width="20px" height="20px">t.me/yaadtiahh</a>
    </div>
  </form>

  <form>
    <div class="names">
      <h1>Горбунов Артмемий</h1>
      <img src="static/img/user_icon.svg">
    </div>
    <h2><img src="static/img/calendar.svg" alt="стрелка" 
      style="vertical-align: middle" width="20px" height="20px">Project "ZooInfo" 21.10 - 01.11 </h2>
    <div class="results_of_work">
      <p>• Сделал парсер к тг-боту (wikipedia).</p><br>
      <p>• Поправлял некоторые недочеты в коде.</p><br>
      <p>• Написал 1/2 README.md.</p>
    </div>
    <div class="support">
      <a href="https://t.me/golovolom288"><img src="static/img/send_icon.svg" alt="стрелка" 
        style="vertical-align: middle" width="20px" height="20px">t.me/golovolom288</a>
    </div>
  </form>
  
  <form>
    <div class="names">
      <h1>Аида</h1>
      <img src="static/img/direction-horizontal.svg">
    </div>
    <h2><img src="static/img/calendar.svg" alt="стрелка" 
      style="vertical-align: middle" width="20px" height="20px">Project "ZooInfo" 21.10 - 01.11 </h2>
    <div class="results_of_work">
      <p>• Всегда отвечала моментально.</p><br>
      <p>• Показала полезные сайты.</p><br>
      <p>• Устраивала созвоны, когда они были нужны.</p>
    </div>
    <div class="support">
      <a href="https://t.me/AdaFantom"><img src="static/img/send_icon.svg" alt="стрелка" 
        style="vertical-align: middle" width="20px" height="20px">t.me/AdaFantom</a>
    </div>
  </form>
</div>
{% endblock %}