{% extends 'template.html' %}

{% block title %}
  Главная страница
{% endblock %}


{% block body %}
  <!-- section__searchAnimals start -->
  <section class="section__searchAnimals">
    <h1>Найди свое<br>любимое животное!</h1>
    <p>Интересный факт: {{ random_fact }}</p>

    <div class="search-box">
        <form action="/result" method="post"> 
          <img src="static/img/Search_icon.png" alt="Search Icon" class="icon">
          <input type="text" id="animated-input" name="text" class="search" placeholder="" autocomplete="off">
          <script src="/static/js/script.js"></script>
      </form>
    </div>
  </section>
  <!-- section__searchAnimals end -->
{% endblock %}